<div class="row <%= cycle('odd', 'even') %>">
  <div class="column column-20"><span class="pill color-<%= event.opening? ? 'green' : 'orange' %>"><%= event.kind %></span></div>
  <div class="column">from: <%= l(event.starts_at, format: :fr) %></div>
  <div class="column">to: <%= l(event.ends_at, format: :fr) %></div>
</div>
